

.pic{     
    padding: 10px ;
    /* height: 50%; */
    width: 93%;
    border-radius: 44px;

}
.desc1{
    /* border: 5px solid blue; */
    font-size: 34px;
    display: flex;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px
}
#ideas{
    display: flex;
    flex-wrap: wrap;
}
.blog{ box-shadow: black;
    margin: 50px;
    width: 500px;
    border-radius: 46px;
  box-shadow: 4px 4px 10px black;

}


